/* Css for button */

.submit-button{
    background:#161616;
    color:#ffffff;
    font-size:20px;
    padding:13px 87px 13px 87px;
    border:1px solid none;
    border-radius:10px;
}

.order-button{
    background:#FE7A15;
    color:#ffffff;
    font-size:16px;
    padding:5px 12px 5px 11px;
    border:none;
    border-radius:5px;
}

.big-button{
    background:#FE7A15;
    color:#ffffff;
    font-size:20px;
    padding:23px 28px 23px 28px;
    border:none;
    border-radius:10px;
}

@media screen and (max-width:280px){
    .big-button{
        width: 150px;
        padding: 10px 15px;
        font-size: 14px;
    }
}