/* Css for Navbar */

/* .Navbar{
    background: #161616;
    height: 150px;
    color:ffffff;
    display:flex;
}

.logo{
    float: left;
}
.logo img{
    height: 63px;
}

.Navbar-links{
    right:0;
    float: right;
} */