.Navbar {
	width: 100%;
	padding: 0px 70px 0 70px;
	position: fixed;
	top: 0;
	background-color: #161616;
	z-index: 999;
}

.active {
	border-bottom: 6px solid #fe7a15;
}


nav.Navbar-links {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	margin-top: 10px;
}

.barMenu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 ul.barMenu li {
	list-style: none;
	margin-left: 20px;
}
 ul.barMenu li a {
	text-decoration: none;
	width: 63px;
	height: 24px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	color: #ffffff;
}

.Navbar nav ul li a:hover {
	color: #fe7a15;
}

.bar{
	display: none;
}

@media screen and (max-width:768px){
  .Navbar{
	padding: 0px 20px 0 0px;
  }
.barMenu{
	display: none;
}

.expanded {
display: block;
position: absolute;
width: 200px;
height: 100vh;
flex-direction: column;
background: #2a2727;
right: 0;
top: 60px;
padding:80px 0 0 0 ;
text-align: center;
}
.expanded a{
	text-decoration: none;
	color: #ffffff;
}
.expanded li{
	list-style: none;
	margin-top: 30px;
}
ul.barMenu li{
	margin-bottom: 15px;
}
.bar{
	display: block;
}
.faBars {
	display: block;
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 10px;
}
}

/* <FontAwesomeIcon icon="fa-solid fa-bars"/> */