/* Css for Footer */
.footer{
    bottom: 0;
    width: 100%;
    background:#FE7A15;
    color:#ffffff;
    font-size:20px;
    text-align:center;
    padding-top: 32px;
    padding-bottom: 44px;

}
    @media screen and (max-width:540px){
        .footer{
        font-size: 14px;
        padding: 15px;
        }
    }