/* Css for ProductItem */

.product-card{
    display: grid;
    background:#FFF0E4;
    height:341px;
    box-sizing: border-box;
    border-radius: 10px;
    border:none;
    margin:10px;
    z-index: 1;

}

.product-card .Image{
    position:relative;
    box-sizing: border-box;
    height: 200px;
    object-fit: cover;
}

.product-card-detail{
    background:#ffffff;
    margin-bottom:0;
    width: auto;  
    height: 137px;
    padding: 21px 4px 17px 13px;
}

.itemName{
    color:#000000;
    font-size: 20px;
    font-weight: 700;
}

.Price{
    color:#FE7A15;
    font-size:16px;
}

.Add-to-cart{
    float: right;
    border-right:4px;
}