@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,400;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,800;1,300;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

*{

  margin: none;
  padding: none;
  box-sizing: border-box;

}
body{
  width: 100%;
  color: #4a4949;

  font-family: 'Poppins',
  sans-serif;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comoponents{
  width: 80%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    padding: 10px 80px;
    margin: 30px 0 30px 0;
}

